body {
    background-image: url('Misc_Pics/sky_watercolor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.basic_button {
    background-color: aquamarine;
    margin: 10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}